.loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px dashed green;
    animation: rotate 3s infinite linear;
}
@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}