.myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModalContent {
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  min-width: 250px;
}
