.pagination {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.paginationItem {
    padding: 10px;
    border: 1px solid green;
    cursor: pointer;
}
.paginationCurrent {
    border-color: turquoise;
    font-weight: bold;
}