* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid red;
}
.post__btns {
  display: flex;
  gap: 10px;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.pagination__item {
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
}
.pagination__current {
  border-color: turquoise;
  font-weight: bold;
}